<% if @task.errors.any? %>
 <ul>
  <% @task.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<%= form_for @task do |f| %>

<p>
  <%= f.label :labNo%></br>
  <%= f.text_area :labNo %>
</p>
<p>
  <%= f.submit %>
 </p>
<% end %>

<%= link_to "Back to labNo", tasks_path %>