<h2>Tasks</h2>

<p>
  <%= link_to "Create new Task", new_task_path %>
</p>

<table>
  <tr>
    <th>
      Tasks
    </th>
  </tr>
  
  <% @tasks.each do |task| %>
  <tr>
    <td>
      <%= task.labNo %>
      <td>
        <%= link_to "Edit", edit_task_path(task) %> |
      </td>
      <td>
        <%= link_to "show", task_path(task) %> |
      </td>
    </td>
    <td>
      <%= link_to "Delete", task_path(task), method: :delete, data:{confirm:"Delete this task?"} %> 
    </td>
  </tr>
  <% end %>
</table>