<h2>Honeydlogs</h2>

<p>
  <%= link_to "Generate new log", new_activitylog_path %>
</p>

<table>
  <tr>
    <th>
       LogNumber
    </th>
  </tr>
  
  <% @activitylogs.each do |activitylog| %>
  <tr>
    <td>
      <%= activitylog.logNunmber %>
    <td>
      <%= link_to "Edit", edit_activitylog_path(activitylog) %> |
      </td>
      <td>
        <%= link_to "show", activitylog_path(activitylog) %> |
      </td>
    </td>
    <td>
      <%= link_to "Delete", activitylog_path(activitylog), method: :delete, data:{confirm:"Delete this log?"} %> 
    </td>
  </tr>
  <% end %>
</table>