<h2>Lessons</h2>

<p>
  <%= link_to "Create new lesson", new_lesson_path %>
</p>

<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
  </tr>
  
  <% @activitylogs.each do |lesson| %>
  <tr>
    <td>
      <%= activitylog.logNumber %>
      <td>
        <%= activitylog.s_ip %>
      </td>
      <td>
        <%= activitylog.d_ip %>
        <td>
          <%= activitylog.operating_system %>
        </td>
        <td>
          <%= activitylog.port_no %>
        </td>
        <td>
          <%= activitylog.tool %>
        </td>
      </td>
      <td>
        <%= link_to "Edit", edit_activitylog_path(activitylog) %> |
      </td>
      <td>
        <%= link_to "show", activitylog_path(activitylog) %> |
      </td>
    </td>
    <td>
      <%= link_to "Delete", activitylog_path(activitylog), method: :delete, data:{confirm:"Delete this log?"} %> 
    </td>
  </tr>
  <% end %>
</table>