<h2>Labs</h2>

<p>
  <%= link_to "Create new lab", new_lab_path %>
</p>

<table>
  <tr>
    <th>
      Session
    </th>
  </tr>
  
  <% @labs.each do |lab| %>
  
  <tr>
    <td>
      <%= lab.sessionNo %>
      <td>
        <%= link_to "Edit", edit_lab_path(lab) %> |
      </td>
      <td>
        <%= link_to "show", lab_path(lab) %> |
      </td>
    </td>
    <td>
      <%= link_to "Delete", lab_path(lab), method: :delete, data:{confirm:"Delete this Lab?"} %> 
    </td>
  </tr>
  <% end %>
</table>